{{define "tools"}}
<div id="toolsContainer" class="tools-container">
  <a
    href="https://google.com"
    target="_blank"
    rel="noopener noreferrer"
    class="tool-btn"
    title="Google"
  >
    <i class="hn hn-google"></i>
  </a>
  <a
    href="https://chatgpt.com"
    target="_blank"
    rel="noopener noreferrer"
    class="tool-btn"
    title="ChatGPT"
  >
    <i class="hn hn-open-ai"></i>
  </a>
  <a
    href="https://exun.co/resources/hunts"
    target="_blank"
    rel="noopener noreferrer"
    class="tool-btn"
    title="Cryptic Hunt Resources"
  >
    <i class="hn hn-book-bookmark"></i>
  </a>
</div>
{{end}}
